body {
    background-color: #d7e5c0;
    font-family: Arial, sans-serif;
    margin: 0; 
}

.title {
    white-space: nowrap; 
    text-align: center; 
    font-size: 40px; 
    color: white; 
    background-color: #054d25; 
    padding: 20px 30px; 
    border-radius: 5px; 
    margin: 20px auto; 
    max-width: 90%; 
    font-family: "Lora", Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; 
}

.visualization {
    width: 60%; 
    margin-right: -20px;
}

.description {
    width: 35%; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; 
    margin-top: 20px; 
    margin-left: 20px; 
}

.description p {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

.description strong {
    color: #054d94; 
}

.vega-embed .legend {
    transform: translateX(-80px);  
}

.description-title {
    font-size: 24px; 
    font-weight: bold; 
    color: #011f37; 
    margin-bottom: 10px; 

    
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-family: 'Lora', serif;
    color: #555; /* Text color */
}

.footer strong {
    color: rgb(0, 0, 0); /* Bold titles in black */
    font-weight: bold;
}

.footer a {
    color: #6b946c; /* Link color */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 5px 0;
}
